<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-10">
        <input type="text" ng-model="company.name" class="form-control" id="name" placeholder="Escriba el nombre"/>
    </div>
</div>
<div class="form-group">
    <label for="email" class="col-sm-2 control-label">Correo Electrónico</label>
    <div class="col-sm-10">
        <input type="text" ng-model="company.email" class="form-control" id="email" placeholder="Escriba el correo electrónico"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">¿Esta activa?</label>
    <div class="col-sm-10">
        <select  id="enabled" class="form-control" ng-model="company.enabled">
            <option value="false" >{{ false | isEnabled }} </option>
            <option value="true" >{{ true | isEnabled }} </option>
        </select>
    </div>
    
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <a class="btn btn-default" ui-sref="companies">Listado</a>
        <input type="submit" class="btn btn-primary" value="Guardar"/>
    </div>
</div>