<a ui-sref="newCompany" class="btn btn-default ">Agregar...</a>
<table class="table companytable">
    <tr>
        <td><h3>Lista de Compañias</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="company in companies">
        <td > <a  ui-sref="viewCompany({id:company.id})">{{company.name}}</a></td>
        <td > {{company.email}} </td> 
         <td> 
            <a class="btn btn-primary" ui-sref="editCompany({id:company.id})">Modificar</a> 

        </td>
    </tr>
</table>