<table class="table companyTable">
    <tr>
        <td><h3>Información de la compañia {{company.name}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>{{company.name}}</td>
    </tr>
    <tr>
        <td>Correo Electrónico</td>
        <td>{{company.email}}</td>
    </tr>
    <tr>
        <td>¿Esta activa?</td>
        <td>{{company.enabled | isEnabled }}</td>
    </tr>
    <tr>
        <td>Fecha de creación</td>
        <td>{{company.createdAt | date: "MM/dd/yyyy h:mm:ss a"}}</td>
    </tr>
    <tr>
        <td>Fecha de modificación</td>
        <td>{{company.updatedAt | date: "MM/dd/yyyy h:mm:ss a"}}</td>
    </tr>
</table>
<table ng-show="company.users.length > 0" class="table userstable">
    <tr>
        <td><h3> Usuarios</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="user in company.users">
        <td> <a  ui-sref="viewUser({id:user.id})">{{user.firstName}}</a></td>
        <td> <a class="btn btn-primary" ui-sref="editUser({id:user.id})">Modificar Usuario</a> </td>
    </tr>
</table>
<div>
    <a class="btn btn-default" ui-sref="companies">Listado</a>
    <a class="btn btn-danger"  ng-click="deleteCompany({id:company.id})">Eliminar</a>
    <!-- <a class="btn btn-primary" ui-sref="editCompany({id:company.id})">Editar</a>-->
</div>