<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-10">
        <input type="text" ng-model="user.firstName" class="form-control" id="name" placeholder="Escriba el nombre"/>
    </div>
</div>
<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Apellidos</label>
    <div class="col-sm-10">
        <input type="text" ng-model="user.lastName" class="form-control" id="name" placeholder="Escriba el nombre"/>
    </div>
</div>
<div class="form-group">
    <label for="email" class="col-sm-2 control-label">Correo Electrónico</label>
    <div class="col-sm-10">
        <input type="text" ng-model="user.email" class="form-control" id="email" placeholder="Escriba el correo electrónico"/>
    </div>
</div>
<div class="form-group">
    <label for="companies" class="col-sm-2 control-label">Compañia</label>
    
    <div class="col-sm-10">
        <select name="companies" class="form-control"  ng-model="user.company.id" ng-change="loadCompany()" >
            <option ng-repeat="company in companies" ng-selected="user.company.id == company.id" value="{{company.id}}">{{company.name}}</option>
        </select>

 
    </div>  
</div>
<div class="form-group">
    <label for="enabled" class="col-sm-2 control-label">¿Esta activa?</label>
    <div class="col-sm-10">
        <select  id="enabled" class="form-control" ng-model="user.enabled">
            <option value="false" >{{ false | isEnabled }} </option>
            <option value="true" >{{ true | isEnabled }} </option>
        </select>
    </div>
    
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <a class="btn btn-default" ui-sref="users">Listado</a>
        <input type="submit" class="btn btn-primary" value="Guardar"/>
    </div>
</div>