<a ui-sref="newUser" class="btn btn-default ">Agregar...</a>
<table class="table userstable">
    <tr>
        <td><h3>Lista de Usuarios</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="user in users">
        <td > <a  ui-sref="viewUser({id:user.id})">{{user.firstName}}</a></td>
        <td > {{user.email}} </td> 
         <td> 
            <a class="btn btn-primary" ui-sref="editUser({id:user.id})">Modificar</a> 

        </td>
    </tr>
</table>