
<table class="table userTable">
    <tr>
        <td><h3>Información de la compañia {{user.name}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>{{user.firstName}}</td>
    </tr>
    <tr>
        <td>Apellidos</td>
        <td>{{user.lastName}}</td>
    </tr>
    <tr>
        <td>Correo Electrónico</td>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <td>Compañia</td>
        <td><a ui-sref="viewCompany({id:user.company.id})">{{user.company.name}}</a>  </td>
    </tr>
    <tr>
        <td>¿Esta activa?</td>
        <td>{{user.enabled | isEnabled }}</td>
    </tr>
    <tr>
        <td>Fecha de creación</td>
        <td>{{user.createdAt | date: "MM/dd/yyyy h:mm:ss a"}}</td>
    </tr>
    <tr>
        <td>Fecha de modificación</td>
        <td>{{user.updatedAt | date: "MM/dd/yyyy h:mm:ss a"}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-default" ui-sref="users">Listado</a>
      <a class="btn btn-danger"  ng-click="deleteUser({id:user.id})">Eliminar</a>
   <!-- <a class="btn btn-primary" href="#/companies"  ui-sref="editUser({id:user.id})">Editar</a>-->
</div>